body {
    text-align: center;
}

#number-display{
    display: flex;
    justify-content: center;
    color: black;
    font-size:55px
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;;
}
#number-input {
    margin: auto 15px auto 15px;
    text-align: center;
    font-size: 30px;

}
.buttons {
    color: white;
    font-size: xx-large;
    background-color: rgb(158, 155, 155);
    border-radius: 25%;
    padding: 30px;
    margin: 20px 0 0 0; 
}